.fixed-btns.js-fixed-btns
    //contact button
    .mn-btn.js-mn__btn
        span.mnb__icon
            img.svg-icon(
                src="assets/img/svg/message.svg"
                width="16"
                height="16"
            )
        a.mnb__contact.js-popups(
            href="#send-mess-popup"
            data-popup-type="mfp-type-1"
        ) Contact Form