//top
//data-scroll-offset="35" => offset of sticky menu (default 35px)
.mn-top.js-mn-top(
    data-scroll-offset="15"
)
    .container.cnt--lg.cnt--ind-15
        .row.row--v-center
            .col-exs-half.col-sm-one-third
                block logo
                    .mn-logo
                        h1.mnl__wrap
                            a.mnl__link(href="promo.html")
                                img.mnl__img.img-fluid(
                                    src="assets/img/mn-logo.png"
                                    width="121"
                                )
                                img.mnl__img.mnl__img--sticky.img-fluid(
                                    src="assets/img/mn-logo--sticky.png"
                                    width="29"
                                )
            .col-exs-half.col-sm-two-thirds
                block menu
                    nav.mn-menu
                        ul.mnm__list
                            li.mnm__item
                                a.mnm__link.mnm__link--active(href="promo.html") home
                                ul.mnm__list
                                    li.mnm__item
                                        a.mnm__link(href="index.html") Home 1
                                    li.mnm__item
                                        a.mnm__link(href="home_2.html") Home 2
                                    li.mnm__item
                                        a.mnm__link(href="home_3.html") Home 3
                                    li.mnm__item
                                        a.mnm__link(href="home_4.html") Home 4
                                    li.mnm__item
                                        a.mnm__link(href="home_5.html") Home 5
                                    li.mnm__item
                                        a.mnm__link(href="home_6.html") Home 6
                                    li.mnm__item
                                        a.mnm__link(href="home_7.html") Home 7
                                    li.mnm__item
                                        a.mnm__link(href="home_8.html") Home 8
                                    li.mnm__item
                                        a.mnm__link(href="home_9.html") Home 9
                                    li.mnm__item
                                        a.mnm__link(href="home_10.html") Home 10
                                    li.mnm__item
                                        a.mnm__link(href="home_11.html") Home 11
                            li.mnm__item
                                a.mnm__link(href="portfolio_style.html") projects
                                ul.mnm__list
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style.html") Portfolio Style 1
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_two.html") Portfolio Style 2
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_three.html") Portfolio Style 3
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_four.html") Portfolio Style 4
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_five.html") Portfolio Style 5
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_six.html") Portfolio Style 6
                                    li.mnm__item
                                        a.mnm__link(href="portfolio_style_seven.html") Portfolio Style 7
                            li.mnm__item
                                a.mnm__link(href="about_us.html") About Me
                                ul.mnm__list
                                    li.mnm__item
                                        a.mnm__link(href="about_us.html") About Me 1
                                    li.mnm__item
                                        a.mnm__link(href="about_us_2.html") About Me 2
                                    li.mnm__item
                                        a.mnm__link(href="about_us_3.html") About Me 3
                            li.mnm__item
                                a.mnm__link(href="blog_style_1.html") my blog
                                ul.mnm__list
                                    li.mnm__item
                                        a.mnm__link(href="blog_style_1.html") Blog Style 1
                                    li.mnm__item
                                        a.mnm__link(href="blog_style_2.html") Blog Style 2
                                    li.mnm__item
                                        a.mnm__link(href="blog_style_3.html") Blog Style 3
                                    li.mnm__item
                                        a.mnm__link(href="post_standart.html") Blog Post Standard
                                    li.mnm__item
                                        a.mnm__link(href="post_width_picture.html") Full Width Picture
                                    li.mnm__item
                                        a.mnm__link(href="post_video.html") Video Post Format
                                    li.mnm__item
                                        a.mnm__link(href="post_text.html") Text Only Post
                            li.mnm__item
                                a.mnm__link(href="contact_me.html") contacts
                                ul.mnm__list
                                    li.mnm__item
                                        a.mnm__link(href="contact_me.html") Contact Me
                                    li.mnm__item
                                        a.mnm__link(href="contact_standart.html") Contact Standard
                                    li.mnm__item
                                        a.mnm__link(href="contact_simple.html") Contact Simple
                        a.mn-menu__btn.mn-menu__btn--light.js-popups(
                            href="#mn-menu-popup-2"
                            data-popup-type="mfp-type-1"
                        )
                            span
                        a.mnm__search.js-popups(
                            href="#search-popup"
                            data-popup-type="mfp-type-1"
                        )
                            |<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.001 32.001" fill="#fff"><g><path d="M20 0C13.373 0 8 5.373 8 12c0 2.026.507 3.933 1.395 5.608L1.052 25.95l.007.006c-.653.64-1.06 1.53-1.06 2.516 0 1.95 1.58 3.53 3.53 3.53.985 0 1.874-.407 2.515-1.06l-.002-.002 8.34-8.34C16.06 23.49 17.97 24 20 24c6.627 0 12-5.373 12-12S26.628 0 20 0zM4.796 29.692c-.322.334-.768.543-1.266.543-.975 0-1.765-.79-1.765-1.764 0-.497.21-.942.543-1.265l-.01-.008 8.067-8.066c.705.952 1.545 1.792 2.494 2.5L4.795 29.69zM20 22.002c-5.522 0-10-4.48-10-10 0-5.523 4.478-10 10-10 5.52 0 10 4.477 10 10 0 5.52-4.48 10-10 10z"/><path d="M20 5c-3.867 0-7 3.134-7 7 0 .276.224.5.5.5s.5-.224.5-.5c0-3.313 2.686-6 6-6 .275 0 .5-.224.5-.5S20.275 5 20 5z"/></g></svg>
//top END