//top
//data-scroll-offset="35" => offset of sticky menu (default 35px)
.mn-top-6.js-mn-top(
    data-scroll-offset="45"
)
    .container.cnt--fluid.cnt--ind-15
        .row.row--v-center
            .col-exs-two-thirds.col-sm-one-third
                .mn-logo
                    h1.mnl__wrap
                        a.mnl__link(href="promo.html")
                            img.mnl__img.img-fluid(
                                src="assets/img/mn-logo-2.png"
                                width="121"
                                height="35"
                            )
                            img.mnl__img.mnl__img--sticky.img-fluid(
                                src="assets/img/mn-logo--sticky.png"
                                width="31"
                                height="35"
                            )
            .col-exs-one-third.col-sm-two-thirds
                nav.mn-menu
                    ul.mnm__list
                        li.mnm__item
                            a.mnm__link-3.mnm__link-3--active(href="promo.html") home
                            ul.mnm__list
                                li.mnm__item
                                    a.mnm__link-3(href="index.html") Home 1
                                li.mnm__item
                                    a.mnm__link-3(href="home_2.html") Home 2
                                li.mnm__item
                                    a.mnm__link-3(href="home_3.html") Home 3
                                li.mnm__item
                                    a.mnm__link-3(href="home_4.html") Home 4
                                li.mnm__item
                                    a.mnm__link-3(href="home_5.html") Home 5
                                li.mnm__item
                                    a.mnm__link-3(href="home_6.html") Home 6
                                li.mnm__item
                                    a.mnm__link-3(href="home_7.html") Home 7
                                li.mnm__item
                                    a.mnm__link-3(href="home_8.html") Home 8
                                li.mnm__item
                                    a.mnm__link-3(href="home_9.html") Home 9
                                li.mnm__item
                                    a.mnm__link-3(href="home_10.html") Home 10
                                li.mnm__item
                                    a.mnm__link-3(href="home_11.html") Home 11
                        li.mnm__item
                            a.mnm__link-3(href="portfolio_style.html") projects
                            ul.mnm__list
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style.html") Portfolio Style 1
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_two.html") Portfolio Style 2
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_three.html") Portfolio Style 3
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_four.html") Portfolio Style 4
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_five.html") Portfolio Style 5
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_six.html") Portfolio Style 6
                                li.mnm__item
                                    a.mnm__link-3(href="portfolio_style_seven.html") Portfolio Style 7
                        li.mnm__item
                            a.mnm__link-3(href="about_us.html") About Me
                            ul.mnm__list
                                li.mnm__item
                                    a.mnm__link-3(href="about_us.html") About Me 1
                                li.mnm__item
                                    a.mnm__link-3(href="about_us_2.html") About Me 2
                                li.mnm__item
                                    a.mnm__link-3(href="about_us_3.html") About Me 3
                        li.mnm__item
                            a.mnm__link-3(href="blog_style_1.html") my blog
                            ul.mnm__list
                                li.mnm__item
                                    a.mnm__link-3(href="blog_style_1.html") Blog Style 1
                                li.mnm__item
                                    a.mnm__link-3(href="blog_style_2.html") Blog Style 2
                                li.mnm__item
                                    a.mnm__link-3(href="blog_style_3.html") Blog Style 3
                                li.mnm__item
                                    a.mnm__link-3(href="post_standart.html") Blog Post Standard
                                li.mnm__item
                                    a.mnm__link-3(href="post_width_picture.html") Full Width Picture
                                li.mnm__item
                                    a.mnm__link-3(href="post_video.html") Video Post Format
                                li.mnm__item
                                    a.mnm__link-3(href="post_text.html") Text Only Post
                        li.mnm__item
                            a.mnm__link-3(href="contact_me.html") contacts
                            ul.mnm__list
                                li.mnm__item
                                    a.mnm__link-3(href="contact_me.html") Contact Me
                                li.mnm__item
                                    a.mnm__link-3(href="contact_standart.html") Contact Standard
                                li.mnm__item
                                    a.mnm__link-3(href="contact_simple.html") Contact Simple
                    a.mn-menu__btn-3.js-popups(
                        href="#mn-menu-popup"
                        data-popup-type="mfp-type-1 mfp-fadeup"
                    )
                        span
                        span
                        span
//top END