//top
//data-scroll-offset="35" => offset of sticky menu (default 35px)
.mn-top-2.js-mn-top(
    data-scroll-offset="55"
)
    .container.cnt--lg.cnt--ind-15
        .row.row--v-center
            .col-exs-half.col-sm-one-third
                .mn-logo
                    h1.mnl__wrap
                        a.mnl__link(href="promo.html")
                            img.mnl__img.img-fluid(
                                src="assets/img/mn-logo-2.png"
                                width="121"
                            )
                            img.mnl__img.mnl__img--sticky.img-fluid(
                                src="assets/img/mn-logo--sticky.png"
                                width="29"
                            )
            .col-exs-half.col-sm-two-thirds
                .mn-menu
                    a.mn-menu__btn.js-popups(
                        href="#mn-menu-popup-2"
                        data-popup-type="mfp-type-1"
                    )
                        span
//top END