include includes/mixins.pug

doctype html
html(lang="en")
    //- head
    include includes/head.pug

    body
        .main

            .animsition

                //- top
                include includes/top_10.pug

                .mn-content
                    section.portfolio.portfolio--type-4
                        .portfolio__body
                            .container
                                .section-title-6
                                    h1.title-32 Latest 
                                        span &amp; 
                                        |Greatest
                                    p.st-6__text Featured Portfolio Projects
                                ul.filter-list-3.filter-list-3--center.js-isotope-filters
                                    li.fl-3__item.active(
                                        data-filter="*"
                                    ) All
                                    li.fl-3__item(
                                        data-filter="Web"
                                    ) Web
                                    li.fl-3__item(
                                        data-filter="Branding"
                                    ) Branding
                                    li.fl-3__item(
                                        data-filter="Ui/Ux"
                                    ) Ui/Ux
                                    li.fl-3__item(
                                        data-filter="Photos"
                                    ) Photos
                            .portfolio-collection
                                .container
                                    ul.work-list-2.js-isotope
                                        li.isotope__sizer
                                        li.isotope__item(
                                            data-category="Web"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-1.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_two.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-2.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Ui/Ux"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_three.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-3.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Web"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_four.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-4.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-5.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Photos"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_two.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-6.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_three.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-7.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Photos"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_four.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-8.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design
                                        li.isotope__item(
                                            data-category="Ui/Ux"
                                        )
                                            .wl2__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp5-img-9.jpg"
                                                        )
                                                        .wl-4__hover
                                                            h2.title-15 Branding Creative Style
                                                            .wl-4__category Web Design

                //- main footer
                include includes/main-footer_2.pug

            //- popups
            include includes/popups.pug

        //- scripts
        include includes/scripts.pug