include includes/mixins.pug

doctype html
html(lang="en")
    //- head
    include includes/head.pug

    body
        .main

            .animsition

                //- top
                include includes/top_11.pug

                .mn-content
                    section.portfolio.portfolio--type-3
                        .portfolio__head
                            .ph-2
                                .ph-2__caption
                                    i.ph-2__icon
                                    .ph-2__text-1 Creative Art Derictor &amp; Freelancer
                                    .ph-2__text-2 I’m love cretive solutions
                            .container
                                ul.filter-list-3.filter-list-3--center.js-isotope-filters
                                    li.fl-3__item.active(
                                        data-filter="*"
                                    ) All
                                    li.fl-3__item(
                                        data-filter="Web"
                                    ) Web
                                    li.fl-3__item(
                                        data-filter="Branding"
                                    ) Branding
                                    li.fl-3__item(
                                        data-filter="Ui/Ux"
                                    ) Ui/Ux
                                    li.fl-3__item(
                                        data-filter="Photos"
                                    ) Photos
                        .portfolio__body
                            .portfolio-collection-5
                                .container.cnt--fluid
                                    ul.work-list-5.js-isotope
                                        li.isotope__sizer
                                        li.isotope__item(
                                            data-category="Web"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-1.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_two.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-2.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Ui/Ux"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_three.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-3.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Web"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_four.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-4.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-5.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Photos"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_two.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-6.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Branding"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_three.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-7.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Photos"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_four.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-8.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design
                                        li.isotope__item(
                                            data-category="Ui/Ux"
                                        )
                                            .wl5__item
                                                a.wl__link(href="projects_style_one.html")
                                                    figure.wl__img
                                                        img.img-fluid(
                                                            src="assets/img/pp7-img-9.jpg"
                                                        )
                                                        .wl-7__hover
                                                            .wl-7__hover-inner
                                                                h2.title-18 Branding Creative Style
                                                                .wl-7__category Web Design

                //- main footer
                include includes/main-footer_2.pug

            //- popups
            include includes/popups.pug

        //- scripts
        include includes/scripts.pug