include includes/mixins.pug

doctype html
html(lang="en")
    //- head
    include includes/head.pug

    body
        .main

            .animsition

                //- top
                include includes/top_10.pug

                .mn-content
                    section.portfolio.portfolio--type-6
                        .portfolio__body
                            .portfolio-collection-4
                                .container.cnt--lg
                                    .row.anm(
                                        data-duration="1.5s"
                                        data-offset="80%"
                                    )
                                        .col-exs-full.col-md-half
                                            ul.work-list
                                                li.wl__item.wl__item--lg.anm__item(
                                                     data-effect-in="fadeIn"
                                                )
                                                    a.wl__link(href="projects_style_one.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp-img-lg-4.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.3s"
                                                )
                                                    a.wl__link(href="projects_style_two.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-1.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.3s"
                                                )
                                                    a.wl__link(href="projects_style_three.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-2.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.6s"
                                                )
                                                    a.wl__link(href="projects_style_four.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-3.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                    data-effect-in="fadeIn"
                                                    data-delay="0.6s"
                                                )
                                                    a.wl__link(href="projects_style_one.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-4.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                        .col-exs-full.col-md-half
                                            ul.work-list
                                                li.wl__item.wl__item--lg.anm__item(
                                                    data-effect-in="fadeIn"
                                                )
                                                    a.wl__link(href="projects_style_two.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp-img-lg-6.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.3s"
                                                )
                                                    a.wl__link(href="projects_style_three.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-5.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.3s"
                                                )
                                                    a.wl__link(href="projects_style_four.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-6.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.6s"
                                                )
                                                    a.wl__link(href="projects_style_one.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-7.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                                                li.wl__item.anm__item(
                                                     data-effect-in="fadeIn"
                                                     data-delay="0.6s"
                                                )
                                                    a.wl__link(href="projects_style_two.html")
                                                        figure.wl__img
                                                            img.img-fluid(
                                                                src="assets/img/pp4-img-8.jpg"
                                                            )
                                                            .wl-3__hover
                                                                h2.title-13 Branding Creative Style
                                                                .wl-3__category Web Design
                        .portfolio__foot
                            .container
                                .pf-1
                                    i.pf-1__icon
                                    h2.title-34 Im creative &amp; crazy, and inspired <br>by the smallest things.

                //- main footer
                include includes/main-footer_2.pug

            //- popups
            include includes/popups.pug

        //- scripts
        include includes/scripts.pug